<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cropper" type="SixPack.Configuration.SimpleConfigurationSection`1[[Cropper.CropperConfigurationSection, Cropper]], SixPack" />
  </configSections>
  <appSettings>
    <add key="FileSystemPictureStorageFolder" value="C:\Windows\Temp\MyUploadsFolder\" />
  </appSettings>
  <cropper>
    <ForceHtmlContentTypeInResponses>false</ForceHtmlContentTypeInResponses>
    <AllowedCrossOriginRequests>*</AllowedCrossOriginRequests>
  </cropper>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>